*{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:beige;
}
body{
    width: 100%;
}
.head{
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.img{
    padding-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
}
.text{
    width: 80%;
    padding-top: 1.5%;
    font-size: 150%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    padding-bottom: 1.5%;
    font-family: 'Arial Narrow Bold', sans-serif;
}
h2{
    padding-bottom: 1.5%;
}
.text1{
    width: 80%;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 150%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
footer{
    background-color: rgb(77, 77, 77);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text_foot{
    width: 80%;
    padding-top: 1.5%;
    font-size: 150%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.button{
    padding: 2%;
    border-radius: 5%;
    border: 1%;
}
.button:hover{
    background-color: blanchedalmond;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}
footer{
    background-color: rgb(77, 77, 77);
    padding: 0.3%;
}
.foot2{
    background-color: rgb(77, 77, 77);
    width: 100%;
}
@media (max-width: 426px) {
    .text{
        width: 97%;
        font-size: 88%;
    }
    .h2{
        padding-bottom: 0.6%;
    }
    .text1{
        width: 97%;
        font-size: 88%;
    }
}
@media (max-width:769px) {
    .text{
        width: 95%;
        font-size: 110%;
    }
    .text1{
        width: 95%;
        font-size: 110%;
    }
}
@media (min-width:2559px) {
    .text{
        width: 99%;
        font-size: 300%;
    }
    .text1{
        width: 99%;
        font-size: 300%;
    }
    img{
        width: 95%;
    }
    .img_cl{
        width: 1000%;
    }
    h2{
        font-size: 400%;
    }
    footer{
        width: 100%;
        height: 30%;
    }
}